@import url('http://fonts.cdnfonts.com/css/funny-party');

body {
  text-align: center;
  font-family: 'Funny Party', sans-serif;
  font-size: 3rem;
  background-image: url('Images/calvin-background.jpg');
  background-size: fill;
  background-position:top;

}

h1 {
  color: yellow
}

button {
  padding: 24px;
  
}