@import url('http://fonts.cdnfonts.com/css/funny-party');

body {
  text-align: center;
  font-family: 'Funny Party', sans-serif;
  /* background-image: url('Images/calvin-background.jpg');
  background-size: fill;
  background-position:top; */
  background-color: rgb(52, 52, 255);

}

h1 {
  font-size: 6rem;
  color: yellow;
  -webkit-text-stroke: 1px rgb(255, 102, 42);
}
